body{
    font-family: 'Poppins', sans-serif;
    margin:0;
}
                                                     /*nav-section*/
.nav-section{
    background-color:dimgray;
    height: 80px;
    display: flex;
    padding-bottom: 20px;
}

.nav-link{
    float:left;
    width:60%;
    margin-left: 5%;
}

.nav-title{
    width:30%;
    margin-left: 5%;
    line-height: 30px;
}

.nav-title h2{
    font-size: 40px;
    color:red;
    
}

.nav-link ul{
    list-style: none;
    margin-left: 50px;
    padding:8px;
    line-height: 5px;
}

.nav-link li{
    float: left;
    
}

.nav-link li a{
    text-decoration: none;
    color:white;
    display: block;
    padding:20px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.8px;
}

.nav-link li:hover{
    background-color: yellow;
    border-radius: 8px;
}
.nav-link li a:hover{
   color:green;
}

                                                         /*food-order-area*/
.food-order-area{
    height: 500px;
    
}

h1{
    font-size: 70px;
    color:gray
}

p{
    color:dimgray;
    letter-spacing: 0.7px;
    font-size: 20px;
    margin-bottom: 60px;
}

.half-width{
    float: left;
    width: 40%;
    margin-left: 5%;
    padding:2%;

}
.half-width img{
    width: 90%;
}

.link-btn{
    text-decoration: none;
    background-image:linear-gradient(45deg,orange,tomato);
    padding:10px 20px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 700;
    color:white;
}

/*about-me area*/
.about-me-area{
    background-image:url("images/shapes/7.png");
    height: 800px;
   background-repeat:round;
   clear: both;
   
}

.display-flex{
    display:flex;

}

.about-half-width{
    width:40%;
    margin:5%;
    padding:2%;
}
h2{
    font-size: 60px;
    color:gray;
}
.about-half-width img{
    width:70%;
    height: 752px;
    margin-top: -85px;
    
}
/*my-recipes area*/
.my-recipes-blog{
    text-align:center;
    width:600px;
    margin:0 auto;
    clear: both;
    
}
.my-recipes-blog p{
    text-align: center justify;
    
}

/*recipes-item-area*/
.recipes-item-area{
    clear: both;
    height: 700px;
    padding-left: 6%;
}
.recipes-item{
    box-shadow: 10px 10px 40px dimgray;
    width:20%;
    padding:24px;
     float:left;
     margin-left: 7%;
     background-color:rgba(245, 245, 245, 0.959);
     border-radius: 35px;
     
}
.recipes-item img{
    width:100%;
    height: 250px;
    border-radius: 30px;
}
/*social activities area*/
.social-activities{
    clear:both;
    height: 250px;
}
.social-media-area{
    height:130px;
    background-color: rgba(255, 255, 255, 0.87);
    box-shadow: 10px 10px 40px dimgray;
    border-radius: 30px;
    text-align: center;
    padding-top: 50px;
    width:81%;
    margin:0 auto;
}
.social-media{
    float:left;
    width:25%;
    margin-left: 5%;
    line-height: 10px;
}
.social-media h3{
    font-size: 35px;
    line-height: 9px;
}
.social-media p{
    font-size:15px;
}

/*discount-order-area*/
.discount-area{
    clear: both;
    margin-top: 40px;
    
}
.discount-order{
    background-image:url("images/background/food-bg.jpg");
    background-size: cover;
    height: 500px;
    width: 80%;
    margin:0 auto;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 35px;
    padding-top: 30px;
    box-shadow: 10px 10px 40px dimgray;
}

.discount-order h1{
font-size: 60px;
margin-top: 10px;
}
.input{
    padding:5px;
    margin-bottom: 20px;
    width:600px;
    height: 40px;
    border:2px solid red;
    border-color: red;
    border-radius: 10px;
    font-size: 20px;
    padding-left: 20px;
    
    
}


