body{
    font-family: 'Poppins', sans-serif;
    margin:0;
}
                                                     /*nav-section*/
.nav-section{
    background-color:dimgray;
    height: 80px;
    display: flex;
    padding-bottom: 20px;
}

.nav-link{
    float:left;
    width:60%;
    margin-left: 5%;
}

.nav-title{
    width:30%;
    margin-left: 5%;
    line-height: 30px;
}

.nav-title h2{
    font-size: 40px;
    color:red;
    
}

.nav-link ul{
    list-style: none;
    margin-left: 50px;
    padding:8px;
    line-height: 5px;
}

.nav-link li{
    float: left;
    
}

.nav-link li a{
    text-decoration: none;
    color:white;
    display: block;
    padding:20px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.8px;
}

.nav-link li:hover{
    background-color: yellow;
    border-radius: 8px;
}
.nav-link li a:hover{
   color:green;
}

                                                         /*food-order-area*/
.food-order-area{
    height: 500px;
    
}

h1{
    font-size: 70px;
    color:gray
}

p{
    color:dimgray;
    letter-spacing: 0.7px;
    font-size: 20px;
    margin-bottom: 60px;
}

.half-width{
    float: left;
    width: 40%;
    margin-left: 5%;
    padding:2%;

}
.half-width img{
    width: 90%;
}

.link-btn{
    text-decoration: none;
    background-image:linear-gradient(45deg,orange,tomato);
    padding:10px 20px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 700;
    color:white;
}


